@media screen and (max-width: 850px) {
  .feaGra {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  #mainImg {
    max-height: 40vh !important;
  }

  .features{
    margin: 20vh 0;
  }
  .wrapper{
    width: unset;
  }
}
